#image1{
    width: 100%;
    height: 5%;
    background-image: url(fruit-14.jpg);
}
h2{
    color: black;
}

*
{
    padding:0; 
    margin: 0px; 
} 
.h
{
    margin-top: -150px;
    margin-bottom: 20px;
    color: white;
    font-size: 70px;
}

.div12{
  
    display: inline-block;
    width : 45%;
    height : auto;
    border: 10px solid bisque;
    margin: 10px;
    background-color: bisque;
    padding: 10px 10px; 
}
.div34{
    display: inline-block;
    width : 45%;
    height : auto;
    border: 10px solid bisque;
    margin: 10px;
    background-color: bisque;
    padding: 10px 10px;
}
.div56{
    display: inline-block;
    width : 45%;
    height : auto;
    border: 10px solid bisque;
    margin: 10px;
    background-color: bisque;
    padding: 10px 10px;
}
.div12:hover{
    border: 10px solid black;
    margin: 1px;
    background-color: bisque;
    color: blue;
}
.div34:hover{
    border: 10px solid black;
    margin: 1px;
    background-color: bisque;
    color: blue;
}
.div56:hover{
    border: 10px solid black;
    margin: 1px;
    background-color: bisque;
    color: blue;
}
.title1
{
    color: black;
font-size: 30px;
font-weight: bold;
margin-left: 20px;
}
.pragraph1
{
    color: black;
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    margin-left: 20px;
}

.title2
{
    color: black ;
font-size: 40px;
font-weight: bold;
margin-left: 20px;
}

.pragraph2
{
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    margin-left: 20px;
}

body { background:  Linear-gradient(217deg, rgba(233, 169, 169, 0.8), rgba(206, 153, 153, 0) 70.71%),
    linear-gradient(127deg, rgb(233, 175, 175), rgb(212, 191, 191) 70.71%),
    linear-gradient(336deg, rgba(196, 196, 214, 0.8), rgba(171, 171, 245, 0) 70.71%);
    font-family:"montserrat";
    
 }
